<%- include("./partials/nav.ejs") %>

<main>
    <h1>Authentication App</h1>

    <% if (user) { %>
        <p>Welcome To The Monthly Outing Page.</p>
    <% } else { %>
        <p>.</p>
    <% } %>
</main>
</body>
</html>
