<%- include("../partials/head", { title: "Add Restaurant" , css: "add-restaurant" }) %>


    <%- include("../partials/nav.ejs") %>

        <div class="form-container">

            <div class="form-card">

                <h1>Add Restaurant to Review</h1>

                <p class="subtitle">
                    Share a restaurant with the community.
                </p>

                <form action="/restaurants" method="POST" >

                    <div class="form-group">
                        <label for="name">Restaurant Name</label>
                        <input type="text" id="name" name="name" placeholder="e.g. Healthy Calorie" required>
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Google Maps link" required>
                    </div>

                    <div class="form-group">
                        <label for="instagram">Instagram Account</label>
                        <input type="text" id="instagram" name="instagram" placeholder="instagram account link">
                    </div>

                    <div class="form-group">
                        <label for="recommendation">Recommended Dish</label>
                        <input type="text" id="recommendation" name="recommendation"
                            placeholder="What should people try?">
                    </div>

                    <div class="form-group">
                        <label for="details">Restaurant Details</label>

                        <textarea id="details" name="details" rows="5"
                            placeholder="Tell people about the restaurant..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input type="url" id="image" name="image" placeholder="https://example.com/image.jpg" >
                    </div>

                    <button class="submit-btn" type="submit">
                        Submit Restaurant
                    </button>

                </form>

            </div>

        </div>

        </body>

        </html>